# Environment
APP_ENV=local
APP_PORT=8080

# Origins
ALLOWED_ORIGINS=http://localhost:3000

# Keys
PASETO_SYMMETRIC_KEY=12345678901234567890123456789012

# Database    
DB_HOST=localhost
DB_PORT=5432
DB_USER=posgodinov
DB_PASSWORD=secret
DB_NAME=posgodinov
DB_SSLMODE=disable